/*!
Theme Name: pm
Theme URI: http://underscores.me/
Author: Paul Myers
Author URI: http://www.paulmyersweb.co.uk
Description: Paul\'s Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pm
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

pm is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

#1 Colours
#2 Typography
#3  

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 >>> COLOURS:
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2 >>> TYPOGRAPHY:
--------------------------------------------------------------*/
a {
  padding: 5px;
  margin: 10px;
  color: red;
  -webkit-transition: border 0.3s linear, color 0.3s ease-in-out, border-radius 1.8s ease-in-out;
  transition: border 0.3s linear, color 0.3s ease-in-out, border-radius 1.8s ease-in-out; }
  a:hover {
    border-radius: 20px;
    border: 1px solid #000;
    color: #000;
    transform: scale(1.5); }
  .site-footer a {
    color: orange; }
    .site-footer a:hover {
      color: #e69500; }

/*--------------------------------------------------------------
3 >>> :
--------------------------------------------------------------*/
.site-footer {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  border: 1px solid red; }

header h2.entry-title a {
  display: inline-block;
  color: green;
  transition: transform 0.3s ease-in-out; }
  header h2.entry-title a:hover {
    color: aqua;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: black; }

article {
  width: 100%;
  border: 1px solid #000;
  min-height: 250px; }

aside {
  width: 100%;
  display: inline-block; }

@media screen and (min-width: 700px) {
  article {
    width: 50%;
    display: block;
    padding: 30px;
    float: left; }
    article:last-of-type {
      margin-right: none; } }

@media screen and (min-width: 1000px) {
  article {
    width: 33.333333%; } }
