/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-Sixteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       Paul Myers
 Author URI:   http://example.com
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/

body {
	background-color: #c0e3f6;
}

article:last-of-type {
	margin-bottom: 8%;
}

h1 a {
	font-family: 'Indie Flower', sans-serif;
}

.site-info-title {
	background-color: #dfdfdf;
}
.site-info-title h1 {
	font-family: 'Indie Flower', sans-serif;
	text-transform: uppercase;
	padding: 5px 0 5px 15px;
}

.page-identifier {
	padding: 5px 0 5px 15px;
	border: 1px solid #dfdfdf;
}