/*
 Theme Name:   Twenty Sixteen Child
 Theme URI:    http://example.com/twenty-Sixteen-child/
 Description:  Twenty Sixteen Child Theme
 Author:       Paul Myers
 Author URI:   http://example.com
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/


#page {
	background-color: #bee5f0;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
	-o-transition: 0.8s;
	transition: background-color 0.8s ease-in-out;

}
#page:hover {
	background-color: white;	
}

.post-title {
	width: 100%;
	font-family: sans-serif;
}


#page .post-title a:hover {
	color: black;
}

.footer_info p {
	font-family: 'Ubuntu', sans-serif;
}