.site-footer {
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	border: 1px solid red;
}

header {
	h2.entry-title a {
		display: inline-block;
		color: green;
		transition: transform 0.3s ease-in-out;
		
		&:hover {
			color: aqua;
			-webkit-transform: rotate(-20deg);	
			-moz-transform: rotate(-20deg);	
			-o-transform: rotate(-20deg);	
			transform: rotate(-20deg);	
		}
	}
}

*,
*::after,
*::before {
	
	box-sizing: border-box;
	
}

body {
	margin: 0;
	padding: 0;
	background: black;
}
article {
	width: 100%;
	border: 1px solid #000;
	min-height: 250px;
}

aside {
	width: 100%;
	display: inline-block;
}

@media screen and ( min-width: 700px ) {
	
	article {
		width: 50%;
		display: block;
		padding: 30px;
		float: left;
		&:last-of-type {
			margin-right: none;
		}
	}
}


@media screen and ( min-width: 1000px ) {
	
	article {
		width: 33.333333%;
		
	}
}