a {
	padding: 5px;
	margin: 10px;
	color: red;
	-webkit-transition: border 0.3s linear, color 0.3s ease-in-out, border-radius 1.8s ease-in-out;
	transition: border 0.3s linear, color 0.3s ease-in-out, border-radius 1.8s ease-in-out;

		
	&:hover {
		border-radius: 20px;
		border: 1px solid #000;
		color: #000;
		transform: scale(1.5);
	}
	.site-footer & {
		color: orange;
		&:hover {
			color: darken(orange, 5%);
		}
	}

}